.table1, .table2 {
    float:left;
    width:50%;
    
}

.table3, .table4 {
    float:left;
    width:50%;
}

.table5, .table6 {
    float:left;
    width:50%;
}

.checked {
  color: orange;

}

.star {
    font-size: 18px;
  }


  .givingStar{
    float:left;
    width:50%;
  }

.table {
    table-layout: fixed;
    border: 1px solid rgba(109, 182, 26, 0.062);
}
.searchBar{

    background: lightblue;

}

.heart_red {
  content: '&#9829';
}
.heart_red:before {
  content: '\2665';
  color: red;
}
.heart_grey {
  content: '&#9829';
}
.heart_grey:before {
  content: '\2665';
  color: grey;
}